ul.nav {
    display: flex;
    /* Ensure items are in a row */
    justify-content: space-evenly;
    /* Spread items evenly */
    width: 60%;
    /* Adjust width as needed to control spacing */
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav-item .nav-link {
    padding: 0 40px !important;
    font-weight: 500;
}

.hero-section {
    height: 60vh;
    position: relative;
    background-image: url('/images/hero-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.hero-row {
    height: 100%;
}

.hero-right {
    z-index: 2;
    color: white;
}

.hero-right-overlay {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #023A2F;
    top: 0;
    left: 0;
    z-index: 1;
}

