@font-face {
    font-family: 'NeueFaktum Light';
    src: url('../fonts/neuefaktum-light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeueFaktum Light-Italic';
    src: url('../fonts/neuefaktum-lightitalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeueFaktum Medium';
    src: url('../fonts/neuefaktum-medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeueFaktum Medium-Italic';
    src: url('../fonts/neuefaktum-mediumitalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'NeueFaktum Light';
}

/*Global Colors*/

.dark-green {
    color: #249988;
}

/*Headings*/

h1,
h2,
h3 {
    font-family: 'NeueFaktum Medium';
}

h2 {
    display: inline-block;
    margin-bottom: 45px;
    padding-bottom: 15px;
    letter-spacing: 3px;
    border-bottom: solid 2px #249988;
    text-align: center;
    z-index: 5;
    position: relative;
}

ul,
a {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
}

/* Header */


header {
    background-color: #063A38;
    color: white;
    /* Ensures text is readable */
}


p,
li,
.contact-info {
    font-family: 'NeueFaktum Light';
    font-size: calc(0.8rem + 0.3vw);
}

ul.nav {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav-logo-small-wrapper {
    width: 2.2rem;
    height: auto;
}

.nav-logo-small-wrapper img,
.nav-logo-large-wrapper img {
    width: 100%;

}

.navbar-toggler {
    border: none;
    background-color: transparent;
    padding: 0;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 40px;
    height: 100%;
    position: relative;
    background-color: transparent;
    background-image: none;
}

.navbar-nav .nav-link {
    color: white;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #249987;
}

.navbar-nav .nav-link:active {
    color: #249987;
}

a  {
    color: white;
    transition: color 0.3s ease;
}

a:hover,
a:active,
.bio-contact-icon i:hover {
    transition: color 0.3s ease;
    color: #249987;
}

.navbar-toggler-icon div {
    width: 100%;
    height: 3px;
    background-color: #249987;
    margin: 9px 0;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
}


.navbar-collapse {
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar-collapse li {
    font-size: calc(0.8rem + 1.5vw);
}

.nav-logo-large-wrapper {
    width: 4rem;
    height: auto;
}

.nav-item .nav-link {
    padding: 0 16px !important;
    font-weight: 500;
    color: white;
}

.contact-info div:first-of-type {
    margin-right: 18px;
}

.contact-info {
    font-family: 'NeueFaktum Medium';
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-logo-large-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/*Hero section*/

.hero-section {
    background-color: #249987;
    padding-top: 80px 0;
    height: 60vh;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/texture-hero.png');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.hero-text {
    z-index: 5;
}

.hero-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img img {
    width: 100%;
}

/*Practice areas*/

.our-services-section,
.our-team-section,
.contact-section {
    padding-top: 60px;
    padding-bottom: 60px;
}


.service-wrapper {
    margin-bottom: 15px;
}

.service-section-text {
    padding-left: 15px;
    flex-basis: 85%
}


.service-icon-wrapper {
    position: relative;
    flex-basis: 15%;
}

.service-icon-wrapper img {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 8px;
}

/*Our partners section*/

.our-team-section {
    background-color: #021C19;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.our-team-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/team-texture.png);
    background-size: cover;
    background-position: center;
    z-index: 1;

}

.team-row {
    z-index: 5;
    position: relative;
}

.bio-top-wrapper {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: solid 2px #1E8574;
}

.bio-img-wrapper {
    flex-basis: 40%;
    width: 100%;
    height: auto;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%);
}

.bio-text {
    padding-right: 15px;
}

.bio-img-wrapper img {
    width: 100%;
}

.bio-top-text {
    flex-basis: 60%;
    padding-left: 60px;
}

.bio-text p {
    font-size: calc(0.8rem + 0.3vw);
}

.bio-top-text h3 {
    margin-bottom: 15px;

}

.bio-contact-info {
    font-size: calc(1rem + 0.3vw);
    font-weight: 300;
    font-family: 'NeueFaktum Light';
}

.bio-contact-icon>i {
    display: inline-block;
    margin-right: 15px;
    font-size: calc(1rem + 0.4vw);
    color: lightgray;
}

/*Contact section*/

.contact-section {
    background-color: #249987;
    position: relative;
    padding-top: 120px;
    padding-bottom: 120px;
}

.contact-section h2 {
    border-bottom: solid white 2px;
}

.contact-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-image: url('/images/pattern-light.png');
    /* Replace with your image path */
    background-size: cover;
    background-position: center;
    z-index: 1;
}

form {
    color: white;
}

.form-control,
.send-btn {
    border-radius: 0;
    border: 1px solid rgba(211, 211, 211, 0.5);
    background-color: #249987;

}

.send-btn {
    border: solid transparent 1px;
    background: linear-gradient(180deg, rgba(224, 254, 249, 1) 0%, rgba(239, 254, 245, 1) 48%, rgba(224, 254, 249, 1) 100%);
    color: black;
}

.send-btn:hover {
    border: solid white 1px;
    background: #249987;
    color: white;
}

.form-control::placeholder {
    color: white;
    opacity: 1;

}

.form-input-wrapper {
    margin-bottom: 30px;
}


/*Footer*/

footer {
    padding-top: 60px;
    background-color: #063A38;
}

.footer-info-wrapper {
    padding-bottom: 60px;
}

.footer-contact>p {
    margin-bottom: 0;
}

.footer-logo-wrapper {
    justify-content: flex-end;
}

.footer-bottom-wrapper {
    padding-top: 15px;

}

.footer-bottom-wrapper p {
    font-size: calc(0.8rem + 0.2vw);
}

/*Media queries*/

@media (max-width: 374px) {

    .footer-ul-wrapper {
        padding: 0;
    }

    .footer-ul-wrapper ul {
        gap: 8px;
    }
}

@media (min-width: 375px) {

    .footer-ul-wrapper ul {
        gap: 15px;
    }
}

@media (max-width: 767px) {

    .footer-left {
        margin-bottom: 30px;
        justify-content: space-between;
    }

    .footer-logo-wrapper {
        text-align: left !important;
    }

    .bio-top-wrapper {
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .bio-top-text {
        padding-left: 0;
    }

    .bio-img-wrapper {
        margin-bottom: 15px;
    }

    .footer-logo-wrapper {
        text-align: left;

    }

    .footer-ul-wrapper {
        justify-content: center;
    }

    .copyright-text {
        text-align: center;
    }

}


@media (max-width: 991px) {

    .bio-wrapper:first-of-type {
        margin-bottom: 60px;
    }

    .organisation-field {
        margin-bottom: 30px;
    } 
}


@media (min-width: 768px) {

    .service-section-text {
        padding-left: 30px;
    }


    .form-group {
        width: 49%;
    }

    .footer-address {
        margin-right: 30px;
    }

    .footer-ul-wrapper {
        justify-content: end;
    }

    .footer-ul-wrapper ul {
        gap: 12px;
    }
}

@media (min-width: 992px) {

    .navbar {
        padding: 60px 0 !important;
    }

    .service-wrapper {
        margin-bottom: 30px;
    }

    .bio-top-text {
        padding-left: 30px; 
    }

    .footer-ul-wrapper ul {
        gap: 15px;
    }



}