ul.nav {
    display: flex;
    /* Ensure items are in a row */
    justify-content: space-evenly;
    /* Spread items evenly */
    width: 60%;
    /* Adjust width as needed to control spacing */
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav-item .nav-link {
    padding: 0 40px !important;
    font-weight: 500;
}

.hero-section {
    height: 60vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero-img-lg {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    object-position: top center; /* Focuses on the top of the image */  
    position: absolute;
}

.hero-row {
    height: 100%;
}

.hero-left {
    z-index: 2;
    color: white;
}

.hero-left-overlay {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #023A2F;
    top: 0;
    left: 0;
    z-index: 1;
}

@media (max-width: 576px) {
    

}