
/*Heading Colors*/

.dark-green {
    color: #023A2F;
}

.mid-green-dark {
    color: #4E8C81;
}

mid-green-bright {
    color: #397F73;
}

.light-green {
    color: #DCF4E7;
}

h2 {
    font-weight: 600;
    margin-bottom: 10px;
}


p{
    font-family: 'Inria Serif';
}

ul.nav {
    display: flex;
    /* Ensure items are in a row */
    justify-content: space-evenly;
    /* Spread items evenly */
    width: 60%;
    /* Adjust width as needed to control spacing */
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav-logo-small-wrapper {
    width: 2.2rem; 
    height: auto;
}

.nav-logo-small-wrapper img,
.nav-logo-large-wrapper img {
    width: 100%;

}

.nav-logo-large-wrapper {
    width: 4rem;
    height: auto;
}

.nav-item .nav-link {
    padding: 0 16px !important;
    font-weight: 500;
}

.contact-info div:first-of-type {
    margin-right: 18px;
}

.navbar {
    position: relative; /* Allows absolute positioning within */
    display: flex; /* Ensure other content respects navbar height */
    align-items: center; /* Vertically center items like the left nav and right info */
}

.nav-logo-large-wrapper {
    position: absolute; /* Takes the logo out of the document flow */
    left: 50%; /* Center horizontally */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); 
    z-index: 1; /* Ensure the logo stays on top of other elements */
}


.hero-section {
    background-color: #249987;
    padding-top: 80px 0;
    height: 60vh;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Center content horizontally */
    align-items: center;      /* Center content vertically */
    
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/texture-hero.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.hero-text {
    z-index: 5;
}

.hero-img {
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    
}

.hero-img img {
    width: 100%;
}


.our-services-section {
    padding-top: 60px;
    padding-bottom: 60px; 
}

.service-section-text {
    padding-left: 10px;
}


.service-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;    /* Allow the image to grow */
    flex-shrink: 1;  /* Allow the image to shrink */
    flex-basis: 80%; /* Start with the image taking up 30% of the available space */
    position: relative;
}

.service-icon-wrapper img {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 8px;
}



service-row-1 {
    margin-bottom: 30px;
}


.our-team-section {
    background-color: #023A2F;
}

.bio-img-wrapper img{
    border: solid 4px white;
    border-radius: 140px;
    
}

.vertical-line {
    width: 1px; /* Line thickness */
    height: 90%; /* Line height */
    background-color: white;
    border: none; /* Remove default border */
    transform: rotate(180deg);
  }

.message-form-group {
    width: 100%;
}

footer {
    background-color: #023A2F;
}

.footer-img-wrapper {
    margin-right: 8px;
}

.our-team-section,
.our-services-section {
    padding-top: 80px;
    padding-bottom: 80px;
}


.big-p {
    font-weight: 400;
    font-family: 'Inria Serif';
    font-size: 1.25rem; 

}



.contact-card-col {
    padding-left: 42px;
}

.service-row {
    z-index:10;
}

@media (max-width: 767.9px) {

    .service-icon-wrapper {
        flex-basis: 80%;
    }
    
}

  @media (min-width: 768px) {

    .service-icon-wrapper {
        flex-basis: 30%;
    }
    
    .form-group {
        width: 49%;
    }
}

@media (min-width: 992px) {
    .navbar {
        padding: 60px 0 !important;
    }

    .service-icon-wrapper {
        flex-basis: 50%;
    }
}