
/*Heading Colors*/

.dark-green {
    color: #023A2F;
}

.mid-green-dark {
    color: #4E8C81;
}

mid-green-bright {
    color: #397F73;
}

.light-green {
    color: #DCF4E7;
}


ul.nav {
    display: flex;
    /* Ensure items are in a row */
    justify-content: space-evenly;
    /* Spread items evenly */
    width: 60%;
    /* Adjust width as needed to control spacing */
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav-item .nav-link {
    padding: 0 40px !important;
    font-weight: 500;
}

.hero-section {
    height: 60vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero-img-lg {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    object-position: top center; /* Focuses on the top of the image */  
    position: absolute;
}

.hero-row {
    height: 100%;
}

.hero-left {
    z-index: 2;
    color: white;
}

.hero-left-overlay {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #023A2F;
    top: 0;
    left: 0;
    z-index: 1;
}

.our-team-section {
    background-color: #023A2F;
}

.bio-img-wrapper img{
    border: solid 4px white;
    border-radius: 140px;
    
}

.vertical-line {
    width: 1px; /* Line thickness */
    height: 90%; /* Line height */
    background-color: white;
    border: none; /* Remove default border */
    transform: rotate(180deg);
  }

.message-form-group {
    width: 100%;
}

footer {
    background-color: #023A2F;
}

.footer-img-wrapper {
    margin-right: 8px;
}

.our-team-section,
.our-services-section {
    padding-top: 36px;
    padding-bottom: 36px;
}

.big-p {
    font-size: 1.25rem;
    font-weight: 400;
}

  @media (min-width: 768px) {
    
    .form-group {
        width: 49%;
    }
}