
/*Heading Colors*/

.dark-green {
    color: #249988;
}

.mid-green-dark {
    color: #4E8C81;
}

mid-green-bright {
    color: #397F73;
}

.light-green {
    color: #DCF4E7;
}

h2 {
    display: inline-block;
    margin-bottom: 45px;
    padding-bottom: 15px;
    letter-spacing: 3px;
    font-weight: 600;
    border-bottom: solid 2px #249988;
    text-align: center;
}


p{
    font-family: 'Inria Serif';
}

ul.nav {
    display: flex;
    /* Ensure items are in a row */
    justify-content: space-evenly;
    /* Spread items evenly */
    width: 60%;
    /* Adjust width as needed to control spacing */
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav-logo-small-wrapper {
    width: 2.2rem; 
    height: auto;
}

.nav-logo-small-wrapper img,
.nav-logo-large-wrapper img {
    width: 100%;

}

.nav-logo-large-wrapper {
    width: 4rem;
    height: auto;
}

.nav-item .nav-link {
    padding: 0 16px !important;
    font-weight: 500;
}

.contact-info div:first-of-type {
    margin-right: 18px;
}

.navbar {
    position: relative; /* Allows absolute positioning within */
    display: flex; /* Ensure other content respects navbar height */
    align-items: center; /* Vertically center items like the left nav and right info */
}

.nav-logo-large-wrapper {
    position: absolute; /* Takes the logo out of the document flow */
    left: 50%; /* Center horizontally */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); 
    z-index: 1; /* Ensure the logo stays on top of other elements */
}


.hero-section {
    background-color: #249987;
    padding-top: 80px 0;
    height: 60vh;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Center content horizontally */
    align-items: center;      /* Center content vertically */
    
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/texture-hero.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.hero-text {
    z-index: 5;
}

.hero-img {
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.hero-img img {
    width: 100%;
}

.our-services-section {
    padding-top: 30px;
    padding-bottom: 30px;
}


.service-wrapper {
    margin-bottom: 15px;
}

.service-section-text {
    padding-left: 15px;
    flex-basis: 85%
}


.service-icon-wrapper {
    position: relative;
    flex-basis: 15%;
}

.service-icon-wrapper img {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 8px;
}


.our-team-section {
    background-color: #023A2F;
}

.bio-top-wrapper {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: solid 2px #1E8574;
}

.bio-img-wrapper {
    flex-basis: 40%;
    width: 100%;
    height: auto;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%);
}

.bio-img-wrapper img{
    width: 100%;
}

.bio-top-text {
    flex-basis: 60%;
    padding-left: 30px;
}

.bio-text p {
    font-size: calc(0.8rem + 0.3vw);
}

.bio-top-text h3 {
    margin-bottom: 15px;
}

.bio-contact-info {
    font-size: calc(1rem + 0.4vw);
    font-weight: 300;
}

.bio-contact-icon > i {
    display: inline-block;
    margin-right: 5px;
    font-size: calc(1rem + 0.4vw);
    color: lightgray;
}

.message-form-group {
    width: 100%;
}

footer {
    background-color: #023A2F;
}

.footer-img-wrapper {
    margin-right: 8px;
}

.our-team-section {
    padding-top: 80px;
    padding-bottom: 80px;
}


  @media (min-width: 768px) {

    .our-services-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .service-section-text {
        padding-left: 30px;
    }

    
    .form-group {
        width: 49%;
    }
}

@media (min-width: 992px) {

    .navbar {
        padding: 60px 0 !important;
    }

    .service-wrapper {
        margin-bottom: 30px;
    }


}