
/*Heading Colors*/

.dark-green {
    color: #023A2F;
}

.mid-green-dark {
    color: #4E8C81;
}

mid-green-bright {
    color: #397F73;
}

.light-green {
    color: #DCF4E7;
}

h2 {
    font-weight: 600;
}


p{
    font-family: 'Inria Serif';
}

ul.nav {
    display: flex;
    /* Ensure items are in a row */
    justify-content: space-evenly;
    /* Spread items evenly */
    width: 60%;
    /* Adjust width as needed to control spacing */
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.nav-item .nav-link {
    padding: 0 10px !important;
    font-weight: 500;
}

.hero-section {
    height: 60vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero-img-lg {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without distortion */
    object-position: top center; /* Focuses on the top of the image */  
    position: absolute;
}

.hero-row {
    height: 100%;
}

.hero-left {
    z-index: 2;
    color: white;
}

.hero-left-overlay {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #023A2F;
    top: 0;
    left: 0;
    z-index: 1;
}

.our-services-section {
    padding-top: 60px;
    padding-bottom: 60px; 
}

.heading-col {
    background-color: white;
    padding-right: 24px;
    padding-left: 24px; 
}


/* .our-services-section h2 {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: solid #023A2F 2px;
} */


.service-icon-wrapper > i {
    font-size: 42px;
}



service-row-1 {
    margin-bottom: 30px;
}

.service-card-style {
    padding-top: 64px;
}

.services-btn {
    padding: 1rem 1.8rem;
    letter-spacing: 0.1rem;
    border-radius: 0;
    letter-spacing: 3px;
    background-color: #4E8C81
}



.our-team-section {
    background-color: #023A2F;
}

.bio-img-wrapper img{
    border: solid 4px white;
    border-radius: 140px;
    
}

.vertical-line {
    width: 1px; /* Line thickness */
    height: 90%; /* Line height */
    background-color: white;
    border: none; /* Remove default border */
    transform: rotate(180deg);
  }

.message-form-group {
    width: 100%;
}

footer {
    background-color: #023A2F;
}

.footer-img-wrapper {
    margin-right: 8px;
}

.our-team-section,
.our-services-section {
    padding-top: 80px;
    padding-bottom: 80px;
}


.big-p {
    font-weight: 400;
    font-family: 'Inria Serif';
    font-size: 1.25rem; 

}



.contact-card-col {
    padding-left: 42px;
}

.service-row {
    z-index:10;
}

  @media (min-width: 768px) {
    
    .form-group {
        width: 49%;
    }
}